﻿<div>
    <form method="post" asp-controller="Account" asp-action="Login">
        <table>
            <tr>
                <td>Email:</td>
                <td><input type ="email" name="email"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
</div>
