﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to DeliverIT website!</h1>
    <p class="lead">
        The reliable comany for delivering packages between countries.
    </p>
    <hr class="my-2">
    <p>
        You are currently logged in as : <em>guest</em>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#!" role="button">Login</a>
    </p>
</div>
